  .body {
    background-image: url(http://localhost/dbpegadaian/readapi/layout/css/gambar/Pegadaian1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  .transp {
    background-color: rgba(92, 122, 30, 0.849);
}

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .left{
      float:left;
      nav-left: auto;
  }
  .column {
    width: auto;
  }
  .right{
      float:right;
      nav-right: auto;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }